@import "../base/variables";



.main-header{
    
    #check{
        display: none;
    }

    svg{
        background-color: white;
    }

}

.main-menu{
    background-color: $dark-color;

    &__item{
        border-bottom: 1px solid hsla(0, 0%, 23%, 0.795);
        a{
            color: white;
        }

        &:first-child{
            a{
                color: $main-color;
            }
        }
    }

}

@media screen and (min-width: 1000px) {
    .main-header{
        label{
            display: none;
        }   
    }

    .menu-container{
        max-height: 1000px;
    }

    .main-menu{
        background-color: transparent;

        &__item{
            border: none;
            a{
                color: white;
            }
    
            &:first-child{
                a{
                    border-top: 5px solid $main-color;
                    background-color: $secondary-color;
                    border-bottom-left-radius: 0.40rem;
                    border-bottom-right-radius: 0.40rem;
                    color: $main-color;
                }
            }
        }
    }
}