//Colors
$main-color: hsl(358, 100%, 67%);
$main-color-opacity: rgba(255, 87, 93, 0.6);
$secondary-color: hsl(0, 0%, 100%);
$dark-color: hsl(0, 0%, 16%);
$grey-color: #7a7a7a;


//Spacing

$body-spacing: 23px;
$field-space: 5px;