@import "../base/variables";

.btn{
    display: block;
    background-color: $main-color;
    border: none;
    border-radius: 0.50rem;
    padding: 14px 5px;
    color: white;
}

.input-control{
    border-radius: 0.30rem;
    padding: 9px 15px;
    border: 1px solid #eeee;
    font-weight: 700px;
}